


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Agbalumo&amp;display=swap">
<link rel="stylesheet" href="static/css/animate.min.css">
<link rel="stylesheet" href="static/css/Navbar-Centered-Brand-Dark-icons.css">
<link rel="stylesheet" href="static/css/navbar-shoppingcart-ecommerce.css">


<section class="py-5">
    <div class="container bounce animated py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Airplane</p>
                <h3 class="fw-bold">Your Order has been Deleted!</h3>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
            <div class="col-md-4 mb-5"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-clipboard-x-fill rubberBand animated" style="font-size: 240px;--bs-light: #fefeff;--bs-light-rgb: 254,254,255;color: var(--bs-body-color);">
                    <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"></path>
                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5zm4 7.793 1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 1 1 .708-.708z"></path>
                </svg></div>
            <div class="col-md-6 d-md-flex align-items-md-end align-items-lg-center mb-5" style="margin-left: 92px;padding-top: 28px;padding-bottom: 0px;margin-bottom: 112px;padding-left: 0px;">
                <div style="height: 250px;padding-left: 0px;margin-left: -68px;">
                    <h5 class="fw-bold">You can return to Home page or re-place your order...</h5><a href="/"><button class="btn btn-primary shadow" type="button" style="margin-left: -14px;margin-right: -2px;">Back to home</button></a><a href="orderView"><button class="btn btn-primary shadow" type="button" style="margin-right: -6px;margin-left: 14px;">Re-place an Order</button></a>
                </div>
            </div>
        </div>
    </div>
</section>

