 {% extends "base.html" %}
{% block content %}
<br>
<div class="row" style="width: 80%; margin-left: 10%;margin-right: 10%;">
    <div class="col-12">
        <!-- 页面主要内容将在这里被继承的模板覆盖 -->
            <a class="btn btn-sm btn-success" href="/regist?flag=1">添加用户</a>
            <hr>
            <table class="table-striped" id="class_table" >
                <thead>
                    <tr>
                        <th data-field="user_name">用户名</th>
                        <th data-field="name_cn">用户中文名</th>
                        <th data-field="email">邮箱</th>
                        <th data-field="phone_number">电话</th>
                        <th data-field="action">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_item in user_list %}
                        <tr>
                            <td>{{ user_item.user_name }}</td>
                            <td>{{ user_item.name_cn }}</td>
                            <td>{{ user_item.email }}</td>
                            <td>{{ user_item.phone_number }}</td>
                            <td>
                                <a href="/user_profile?user_id={{user_item.id}}" class="btn btn-sm btn-primary">修改用户信息</a>
                                <a class="btn btn-sm btn-danger" onclick="deleteItem('{{ user_item.id }}')">删除</a>
                            </td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</div>

<!-- JavaScript 代码来处理按钮点击事件 -->
<script>
$("#class_table").bootstrapTable({ // 对应table标签的id
    search:true,
pagination: true, // 在表格底部显示分页组件，默认false
pageList: [10,20,30,40,100], // 设置页面可以显示的数据条数
pageSize: 10, // 页面数据条数
pageNumber: 1, // 首页页码
sidePagination: 'client', 
});


function deleteItem(id) {
    // 这里可以添加代码来处理删除按钮的点击事件，比如发送一个AJAX请求到服务器删除课表
    $.ajax({
        url: '/user_list?user_id='+id,
        type: 'DELETE',
        success: function(response) {
            // 刷新课表列表（可选）
            alert(response);
            location.reload();
        },
        error: function(error) {
            // 处理错误（可选）
            console.error(error);
        }
    });
}

</script>

{% endblock %}